name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build & Release
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows/amd64
            build_flags: -clean
            binary_path: build/bin/duminous.exe
          - os: ubuntu-latest
            platform: linux/amd64
            build_flags: -clean -tags webkit2_41
            binary_path: build/bin/duminous

    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          check-latest: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Build Binary
        run: wails build -platform ${{ matrix.platform }} ${{ matrix.build_flags }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ matrix.binary_path }}
          draft: false
          prerelease: false
          generate_release_notes: true
