name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build & Release
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          check-latest: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install UPX
        run: choco install upx

      - name: Build Windows Binary
        run: wails build -platform windows/amd64 -clean -upx

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/bin/duminous.exe
          draft: false
          prerelease: false
          generate_release_notes: true
